.customer_srv .slider {
    background-color: #018d8d;
    width: 100%;
    padding: 12px 0px 55px 30px;
}
.slider_wrap{
    position: relative;
    height: 400px;
}

.slider_title{
color: #fff;
font-size: 26px;
}

.swiper {
width: 100%;
height: 100%;
}

.swiper-slide {
/* text-align: center; */
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;

}

.swiper-slide {
width: 100%;
height: 100%;
border-radius: 20px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: -35px !important;
}
.swiper-pagination-bullet{
    background: #fff !important;
    opacity: .7 !important;
    width: 6px !important;
    height: 6px !important;
}
.swiper-pagination-bullet-active{
    background-color: #fff !important;
    opacity: 1 !important;
    width: 8px !important;
    height: 8px !important;
}

.slider_cell{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 48px;
}
.slider_cell-01{
    background-image: url(../../frontend/images/slider_img_01.jpg);
    /* background-image: url("www.myproject.com/assets/img/background.png") */
    /* style=" background-image: url("{{ asset('frontend/images/slider_img_01.jpg')}}");" */
}
.slider_cell-02{
    background-image: url(../../frontend/images/slider_img_02.jpg);
}
.slider_cell-03{
    background-image: url(../../frontend/images/slider_img_01.jpg);
}
.slider_cell-04{
    background-image: url(.././frontend/images/slider_img_02.jpg);
}
.icon_text{
    font-size: 45px;
    font-weight: 900;
    color: #c520aa;
}
.slider_para{
    font-size: 55px;
    font-weight: 800;
    line-height: 60px;
    width: 46%;
    color: #0083b2;
    margin-top: 20px;
}
