@media screen and (max-width: 1200px) { 
    .ask_help .text_1 {
        font-size: 34px;
    }
    .kirem_resep_top .text_2, .kirem_resep_top .text_3 {
        font-size: 20px;
    }
    .ask_help .text_2 {
        font-size: 38px;
    }
    .slider_title {
        font-size: 30px;
    }
    .customer_srv .slider {
        padding: 14px 0px 55px 30px;
    }
    .panic .text_1 {
        font-size: 34px;
        line-height: 46px;
    }
    .panic .text_2 {
        font-size: 24px;
    }
    .panic_hotline {
        padding: 21px 0px !important;
    }
    .slider_para {
        font-size: 41px;
        font-weight: 800;
        line-height: 47px;
    }
    .kirem_resep_top .text_1{
        font-size: 25px;
    }
}


@media screen and (max-width: 1002px){
    .slider_para {
    font-size: 48px;
}

}


@media screen and (max-width: 992px) { 
    .logoW{
        width: 40%;
    }
    .userW{
        width: 10%;
    }
    .display-none{
        display: none;
    }
    .kirem_resep_top .text_1 {
    font-size: 18px;
}
.kirem_resep_top .text_2, .kirem_resep_top .text_3 {
    font-size: 14px;
}
.ask_help .text_1 {
    font-size: 25px;
}
.ask_help .text_2 {
    font-size: 29px;
}
.ask_help .text_3 {
    font-size: 16px;
}
.panic .text_1 {
    font-size: 24px;
    line-height: 32px;
}
.panic_hotline .text_2 {
    font-size: 20px;
}
.panic .text_2 {
    font-size: 18px;
}
.panic_hotline {
    padding: 6px 0px !important;
}
.mob_inp .background {
    max-width: 720px;
}



}


@media screen and (max-width: 898px){
    .ask_help .text_1 {
    font-size: 28px;
}
.ask_help .text_2 {
    font-size: 28px;
}
.ask_help .text_3 {
    font-size: 16px;
}
.kirem_resep_top .text_1 {
    font-size: 18px;
}
.kirem_resep_top .text_2, .kirem_resep_top .text_3 {
    font-size: 14px;
}
.panic .text_1 {
    font-size: 24px;
    line-height: 28px;
}
.panic .text_2 {
    font-size: 18px;
}
.panic_hotline .text_1 {
    font-size: 14px;
}
.panic_hotline .text_2 {
    font-size: 16px;
    margin-bottom: 11px !important;
}
.panic_hotline .text_3 {
    font-size: 18px;
    width: 72%;
    border-radius: 6px;
}
.slider_wrap{
    height: 265px;
}
.slider_para {
    font-size: 34px;
    line-height: 36px;
}
.slider_cell{
    padding: 28px;
}

}



@media screen and (max-width: 768px) { 
    .logoW{
        width: 60%;
    }
    .userW{
        width: 12%;
    }
    .display-none{
        display: none;
    }




    .ask_help .text_1 {
        font-size: 25px;
    }
    .ask_help .text_2 {
        font-size: 32px;
    }
    .ask_help .text_3 {
        font-size: 16px;
    }
    .kirem_resep_top .text_2, .kirem_resep_top .text_3 {
        font-size: 15px;
    }
    .kirem_resep_top .text_1 {
        font-size: 18px;
    }
    .panic_hotline .text_2 {
        font-size: 22px;
    }
    .panic .text_1 {
        font-size: 24px;
        line-height: 35px;
    }
    .panic .text_2 {
        font-size: 20px;
    }
    .panic_hotline {
        padding: 14px 0px !important;
    }
    .panic_hotline .text_3 {
        font-size: 22px;
        width: 74%;
    }
    .swiper-slide img, .swiper-slide{
        border-radius: 10px;
    }
    .slider_cell{
        border-radius: 10px;
    }
    .slider_para {
        font-size: 29px;
        line-height: 35px;
        width: 48%;
        margin-top: 34px;
    }
    
    .content_width .container, .container-sm {
    max-width: 96% !important;
    padding: 0;
}

    
 }



@media screen and (max-width: 576px) {
    .content_width .container, .container-sm {
        padding: 0;
    }
    .mob_inp .slider{
        border-radius: 0px;
    }
    .mob_inp{
        padding-top: 0px;
    }
    .daftar .background {
        background-color: #fff;
        width: 100%;
        height: 100vh;
        position: relative;
    }
    .daftar .daftar-contact {
        padding: 0px 10px 45px 10px;
        box-shadow: none;
        background-color: #fff;
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        transform: none;
        margin-top: 25px;
    }
    .daftar .daftar-contact-heading {
        text-align: left;
    }
    .help .contenerP0{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    .help .help-contact-heading {
        font-size: 16px;
        text-align: left;
        font-weight: 500;
        margin-bottom: 20px;
        margin-left: 25px;
    }
    .help .content-box {
        padding: 25px;
        border-radius: 0px;
        text-align: left;
    }
    .help .help-contact {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        transform: none;
        padding: 30px 0px 0px 0px;
        box-shadow: none;
    }
    .help .bg-color {
        background-color: #fff;
        width: 100%;
        height: 100vh;
        position: relative;
    }
    .help .login-icon {
        display: block;
        margin-top: 25px;
        padding-left: 20px;
    }
    .logoW{
        width: 80%;
    }
    .userW{
        width: 18%;
    }
    .top-header {
        position: relative;
    }
    .digit-group input {
        width: 12%;
        margin: 0 1.8%;
    }
    .p-3.p0{
        padding: 0 !important;
    }
    .display-none{
        display: none;
    }
    .display-block{
        display: block;
    }
    .p-3.pt{
        padding-top: 20px !important;
    }
    .fildStyle {
        border-radius: 5px;
        padding: 4px 8px;
        border: 1px solid #828282;
    }


    .customer_srv{
        padding-top: 0px;
    }
    .ask_help{
        padding: 12px 20px;
    }
    .ask_help .text_1 {
        font-size: 22px;
    }
    .ask_help .text_2 {
        font-size: 26px;
        margin-bottom: 8px !important;
    }
    .ask_help .text_3 {
        font-size: 14px;
        width: 75%;
    }
    .kirem_resep_top .text_1 {
        font-size: 23px;
    }
    .kirem_resep_top .text_2, .kirem_resep_top .text_3 {
        font-size: 17px;
    }
    .kirim-btn {
        padding: 6px 0px !important;
        margin-top: 15px !important;
    }
    .panic .text_1 {
        font-size: 22px;
        line-height: 28px;
    }
    .panic .text_2 {
        font-size: 16px;
    }
    .panic_hotline{
        padding: 4px 14px !important;
        margin: 14px 16px !important;
    }
    .panic_hotline .text_1{
        font-size: 16px;
    }
    .panic_hotline .text_2 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px !important;
    }
    .panic_hotline .text_3 {
        width: 70%;
        font-size: 20px;
        margin-bottom: 0px !important;
    }
    .footer-wrap{
        font-size: 14px;
    }
    .slider_wrap {
        height: 130px;
    }
    .slider_cell{
        padding: 7px 13px;
    }
    .icon_text{
        font-size: 14px;
    }
    .slider_para {
        font-size: 16px;
        line-height: 18px;
        margin-top: 25px;
    }
    .mob_inp .gap{
        height: 50px;
    }
    .mob_num_part{
        height: 300px;
    }
    .mob_display-none{
        display: none;
    }
    .mob_inp .sleep_logo{
        display: block;
        padding-top: 15px;
    }
    .banner{
        padding: 46px;
    }
    .slider_title {
        font-size: 18px;
    }
    .content_width .container, .container-sm {
        max-width:100% !important;
    }
    .mob_inp .background{
        box-shadow: none;
    }
    .doctor_search {
        padding: 0;
        margin: 0px 0px 0px 0px;
    }
    .doctor_search_heading {
        font-size: 20px;
    }
    .mob-saparator {
        width: 100%;
        height: 3px;
        background-color: #f1f1f1;
        display: block;
        margin-bottom: 25px;
    }
    .dr-list-block {
        padding: 0px 5px 0px 5px;
        box-shadow: none;
    }
    .margin-left-15{
        margin-left: 15px;
    }
    .header-back {
        display: block;
        position: absolute;
        z-index: 100;
        top: 30%;
        left: 4%;
        font-size: 20px;
    }

}


@media screen and (max-width: 376px){
    .slider_wrap {
        height: 100px;
    }
    .slider_para {
        font-size: 14px;
        line-height: 16px;
        margin-top: 10px;
        width: 58%;
    }
    .customer_srv .slider{
        padding: 8px 0px 42px 18px;
    }
    .slider_title {
        font-size: 14px;
        margin-bottom: 12px !important;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: -30px !important;
    }
    .mob-saparator {
        width: 100%;
        height: 3px;
        background-color: #f1f1f1;
        display: block;
        margin-bottom: 25px;
    }
    .dr-list-block {
        padding: 0px 5px 0px 5px;
        box-shadow: none;
    }
    .header-back {
        display: block;
        position: absolute;
        z-index: 100;
        top: 25%;
        left: 6%;
        font-size: 18px;
    }
    
}