body {
	padding: 0;
	margin: 0;
}
.gu-hide {
    display: none !important
}
.bg-color {
	background-color: #f3f3f3;
	height: 100vh;
}


.contact-h {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 40px;
	color: #ec407a;
}

.contact .form-group {
	margin-bottom: 40px;
}

.contact .form-control {
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #ababab;
	box-shadow: none;
}

.contact .btn-primary {
	background-color: #0059b2;
	border-color: #0059b2;
	border-radius: 0;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 5px;
	letter-spacing: 1px;
	font-size: 18px;
}

.btn-primary:hover {
	color: #fff;
	background-color: #026ad1 !important;
	border-color: #026ad1 !important;
}

.contact .btn {
	padding: 8px 15px;
	margin-bottom: 15px;
}

.group {
	position: relative;
	margin-bottom: 45px;
}

input:focus {
	outline: none;
}

label {
	color: #999;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 0;
	transition: 0.4s ease all;
	-moz-transition: 0.4s ease all;
	-webkit-transition: 0.4s ease all;
}

input:focus~label,
input:valid~label {
	top: -20px;
	font-size: 14px;
	color: #0059b2;
	font-weight: 600;
}

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before,
.bar:after {
	content: "";
	height: 2px;
	width: 0;
	bottom: 0px;
	position: absolute;
	background: #89bdf0;
	transition: 0.4s ease all;
	-moz-transition: 0.4s ease all;
	-webkit-transition: 0.4s ease all;
}

.bar:before {
	left: 50%;
}

.bar:after {
	right: 50%;
}

input:focus~.bar:before,
input:focus~.bar:after {
	width: 50%;
}

.highlight {
	position: absolute;
	/* height:60%; */
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}

/* active state */
input:focus~.highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	-moz-animation: inputHighlighter 0.3s ease;
	animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from {
		background: #5264ae;
	}

	to {
		width: 0;
		background: transparent;
	}
}

@-moz-keyframes inputHighlighter {
	from {
		background: #5264ae;
	}

	to {
		width: 0;
		background: transparent;
	}
}

@keyframes inputHighlighter {
	from {
		background: #5264ae;
	}

	to {
		width: 0;
		background: transparent;
	}
}

.text-group textarea {
	display: block;
	background: none;
	padding: 0.125rem 0.125rem 0.0625rem;
	border-width: 0;
	border-color: transparent;
	line-height: 1.9;
	width: 100%;
	-webkit-transition: all 0.28s ease;
	transition: all 0.28s ease;
	box-shadow: none;
}

.text-group textarea:focus~.input-label,
.text-group textarea:valid~.input-label,
.text-group textarea.form-file~.input-label,
.text-group textarea.has-value~.input-label {
	font-size: 14px;
	color: gray;
	top: -1rem;
	left: 0;
}

.text-group textarea:focus~.input-label {
	color: #96c93d;
}

.text-group textarea:focus~.bar::before {
	width: 100%;
	left: 0;
}

.text-group {
	position: relative;
	margin-top: 2.25rem;
	margin-bottom: 4.25rem;
}

.form-control:focus {
	color: #212529;
	background-color: #fff;
	border-color: #86b7fe;
	outline: 0;
	box-shadow: none !important;
}

.contact {
	margin-top: 20px;
	border-radius: 10px;
	padding: 25px 20px 6px 20px;
	box-shadow: 0px 1px 7px 0px #b5b5b5;
	background-color: #fff;
}

.referrer-name {
	font-size: 12px;
	color: #008000;
	font-weight: 600;
	margin-bottom: 10px;
}

.contact .form-group.marginB {
	margin-bottom: 10px;
}

.small-text {
	font-size: 13px;
	margin-bottom: 15px;
}

.btn-check:focus+.btn,
.btn:focus {
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgb(210 43 94 / 25%) !important;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
	color: #fff;
	background-color: #0059b2 !important;
	border-color: #0059b2 !important;
	box-shadow: 0 0 0 .25remrgba(49, 132, 253, .5);
}

.page-heading {
	font-size: 20px;
	color: #0059b2;
	font-weight: 700;
	margin-bottom: 25px;
}

.small-text a {
	text-decoration: none;
	color: #0059b2;
}

.small-text a:hover {
	text-decoration: underline;
	color: #89bdf0;
}

.checkbox-wrap{
    display: inline;
}
.checkbox-text-wrap{
  display: inline;
  margin-left: 5px;
}


/* success css ================ */

.success-modal-wrap {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    padding: 15% 2% 8% 2%;
    text-align: center;
    box-shadow: 0px 1px 7px 0px #b5b5b5;
}
.success-heading-text{
    font-size: 25px;
    font-weight: 600;
    color: rgb(38, 38, 38);
}
.success-modal{
    position: relative;
    width: 100%;
    height: 100vh;
}
.success-icon-wrap {
    position: absolute;
    z-index: 500;
    top: -50px;
}
.success-button {
    background-color: #52c41a !important;
    width: 60% !important;
    color: #fff !important;
    text-align: center !important;
    font-size: 16px !important;
    padding: 2% !important;
    margin-top: 4%;
    font-weight: 600 !important;
}
.success-button:hover {
    background-color: #56d118 !important;
}
.success-text{
    font-size: 15px;
    color: rgb(68, 68, 68);
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none !important;
}



