body {
    position: relative;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
  .slide_text{
    position: absolute;
    left: 50%;
    bottom: 1%;
    transform: translateX(-50%);
    width: 330px;
    background-color: transparent;
    font-size: 20px;
    color: #fff;
  }
  .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
    left: 22% !important;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 110px !important;
  }
  .swiper-pagination-bullet{
    background: #fff !important;
    opacity: .7 !important;
    width: 6px !important;
    height: 6px !important;
}
.swiper-pagination-bullet-active{
    background-color: #fff !important;
    opacity: 1 !important;
    width: 8px !important;
    height: 8px !important;
}




@media screen and (max-width: 1024px) {
  .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
    left: 11% !important;
  }
}

@media screen and (max-width: 768px) {
  .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
    left: 12% !important;
  }
}