body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none !important;
}


/*--------mob_inp start --------*/


.sign_up-part{
    max-width: 900px;
    background-color: #fff;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
}
.mob_inp{
    width: 100%;
    position: relative;
    padding-top: 95px;
}
.num_inp_part{
    border-radius: 8px;

}
.num_inp{
    border-radius: 8px;
    background-color: transparent;
}
.mob_inp .background {
    margin: auto;
    background-color: #fff;
    box-shadow: 0px 1px 7px 0px #b5b5b5;
    max-width: 960px;
    border-radius: 10px;
}
.sleep_logo{
    display: none;
}
.sleep_logo img{
    max-width: 165px;
}
.mob_inp .slider {
    background-color: #8da6f3;
    border-radius: 10px 0px 0px 10px;
}
.banner{
    height: 600px;
    padding: 75px;
}
.mob_num_part{
    background-color: #fff;
}
.form-control:focus{
    box-shadow: none;
}
.border-dark{
    border: 1px solid;
}
.mob_num_part .input-text, .login_part .input-text{
    border-right: 2px solid #828282;
}
.ask_help .input_text{
    position: relative;
}
.search_btn {
  position: absolute;
  right: 3px;
  top: 3px;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: #0059b2;
  color: #fff;
  transition: 0.3s;
  font-size: 14px;
  text-transform: capitalize;
  line-height: 22px;
}
.search_btn:hover{
    background-color: #1f8fff;
    color: #ffffff;
}
.mob_num_part h1{
    color: #5d5d5d;
    font-size: 16px;
}
.trouble_btn{
    color: #333;
    font-size: 14px;
}

.slide_text{
    width: 330px;
    background-color: transparent;
    font-size: 20px;
    color: #fff;
  }
/*.carousel-caption{
    text-align: left !important;
    bottom: 40px !important;
}*/
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 5px !important;
    height: 5px !important;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 50%;
}
.carousel-indicators {
    position: absolute;
    right: unset !important;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 6% !important;
    list-style: none;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 2.5rem !important;
    left: 6% !important;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left !important;
}
.submit_btn {
  width: 230px;
  margin-top: 46px;
  padding: 11px 0px;
  margin: 40px auto 0;
}


/*--------mob_inp end --------*/


/*-------- sign_up-page start --------*/


.sign_up-part-2{
    max-width: 500px;
    background-color: #fff;
    border-radius: 12px;
    font-family: 'Roboto', sans-serif;
}
.continue_btn{
    background-color: #0045c0;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    border-radius: 5px;
    font-size: 20px;
    transition: 0.3s;
    padding: 10px 50px 12px 50px;
    border: 1px solid #0045c0;
    width: 100%;
}
.help_btn{
    color: #333;
    font-size: 18px;
}

/*-------- sign_up-page End --------*/



/*-------- otp-input-page start --------*/


.otp-box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.digit-group input {
    width: 45px;
    height: 60px;
    border: 1px solid #828282;
    border-radius: 6px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    color: #333;
    margin: 0 6px;
}
.digit-group .splitter {
	padding: 0 5px;
	color: white;
	font-size: 24px;
}
.resend_btn {
    color: #989898;
    text-decoration: underline !important;
}
.trouble_btn {
    color: #333;
    text-decoration: underline !important;
}
.code_recv{
    display: flex;
}

/*-------- otp-input-page end --------*/

.daftar {
    padding: 0;
    margin: 0;
  }
  .daftar .background {
    background-color: #f3f3f3;
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .daftar .daftar-contact {
    border-radius: 10px;
    padding: 30px 25px 45px 25px;
    box-shadow: 0px 1px 5px 0px #d7d7d7;
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  .daftar .daftar-contact-heading {
    color: #0059b2;
    font-size: 28px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .daftar .label-heading {
    color: #0059b2;
    font-size: 18px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
  .daftar .daftar-fild-style {
    border-width: 0 0 2px 0 !important;
    border-color: #0059b2;
    border-radius: 0;
    padding: 0 0 5px 0;
  }

  .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #0059b2 !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
  .daftar .error-text {
    color: #ff0000;
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  .daftar .daftar-fild-style.error-line {
    border-width: 0 0 2px 0 !important;
    border-color: #ff0000;
    border-radius: 0;
    padding: 0 0 5px 0;
  }
  .daftar .daftar-button {
    width: 100%;
    background-color: #0059b2;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
  }
  .daftar .daftar-button:hover {
    background-color: #006ad4;
  }
  .daftar .daftar-contact-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .help{
      padding: 0;
      margin: 0;
  }
  .help .bg-color{
    background-color: #f3f3f3;
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .help .help-contact-wrap{
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .help .help-contact {
    border-radius: 10px;
    padding: 30px 25px 45px 25px;
    box-shadow: 0px 1px 5px 0px #d7d7d7;
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  .help .help-contact-heading {
    color: #252525;
    font-size: 25px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
}
  .help .content-box {
    background-color: #ededed;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.help .customer-service-button {
    background-color: #29be89;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    padding: 6px 20px 6px 45px;
    border: 0;
    position: relative;
    transition: 0.3s;
}
.help .customer-service-button:hover {
    background-color: #1bad7a;
}
.help .customer-service-button-wrap{
    padding-top: 10px;
}
.help .whatsapp-image-wrap {
    position: absolute;
    z-index: 100;
    left: -28px;
    top: 5px;
}
.help .login-icon {
    display: none;
    margin-top: 25px;
    padding-left: 20px;
}

.top-header {
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px #dfdede;
  margin-bottom: 4px;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}
.logoW{
    width: 30%;
}
.userW{
    width: 8%;
}
.profil-heading {
    color: #0059b2;
    font-size: 28px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
  }
.profil-sub-heading{
    color: #0059b2;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-bottom: 5px;
}
.profil-text{
    color: #4b4b4b;
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}
.edit{
    color: #0059b2;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    margin-left: 20px;
}
.edit a {
    color: #0059b2;
    font-size: 11px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-decoration: none;
    vertical-align: text-bottom;
}
.edit a:hover{
    text-decoration: underline !important;
}
.display-block{
    display: none;
}
.fildStyle{
    border-radius: 10px;
    padding: 8px;
    border: 1px solid #828282;
}
.form-select {
    padding: 0.375rem 2rem 0.375rem 0.75rem;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 0px;
}
.form-control:focus {
    box-shadow: none !important;
}
.form-select:focus {
    box-shadow: none !important;
}






/*--------- customer_srv start ---------*/


.customer_srv{
    padding-top: 110px;
}
.customer_srv .slider {
    background-color: #018d8d;
    width: 100%;
    padding: 12px 0px 55px 30px;
}

.ask_help{
    border-radius: 8px;
    padding: 30px 25px 45px 25px;
    background-image: url(../images/grey_background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ask_help .text_1{
  font-size: 40px;
  font-weight: 500;
}
.ask_help .text_2{
  font-size: 44px;
  font-weight: 700;
  color: #0045c0;
}
.ask_help .text_3{
  font-size: 20px;
  font-weight: 700;
}
.kirem_resep, .panic {
    padding-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #0045c0;
}
.kirem_resep_top{
    border-radius: 8px;
    background-color: #0043ba;

}
.kirem_resep_top .text_1{
  font-size: 34px;
  font-weight: 700;
  color: #fff;
}
.kirem_resep_top .text_2, .kirem_resep_top .text_3{
  color: #fff;
  font-size: 22px;
}
.kirem_resep_top .picture img, .panic .pic img {
  width: 100%;
  background-color: #fff;
  border-radius: 50%;
}
.kirim-btn{
  width: 82%;
  border-radius: 5px;
  background-color: #14df24;
  color: #fff;
  font-size: 22px;
  transition: 0.3s;
}
.panic .text_1{
  font-size: 42px;
  font-weight: 700;
  color: #49b3ba;
  line-height: 48px;
  width: 70%;
}
.panic .text_2 {
  font-size: 28px;
}
.panic_hotline{
  background-color: #e16161;
  border-radius: 8px;
  height: 100%;
}
.panic_hotline .text_1 {
  color: #fff;
  font-size: 22px;
}
.panic_hotline .text_2 {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}
.panic_hotline .text_3{
  background-color: #f9f9f9;
  color: #1bad7a;
  font-size: 26px;
  width: 56%;
  font-weight: 700;
  border-radius: 10px;
}
.footer{
  position: fixed;
  bottom: 0;
  background-color: #0059b2;
  width: 100%;
  padding: 4px;
  color: #fff;
  z-index: 999;
}
.gap{
  height: 85px;
}
.footer-wrap{
  display: flex;
  font-size: 16px;
}
.footer-wrap a {
    margin-left: auto;
    color: #fff;
}
.tentang a {
  padding-left: 20px;
  color: #fff;
}
.tentang a:hover{
    color: #f9f9f9;
}
.whatsapp_btn{
  background-color: #29be89;
  border-radius: 6px;
  transition: 0.3s;
}


/*--------- customer_srv end ---------*/

.kirim-btn:hover{
  background-color: #03c713;
}
.continue_btn:hover{
  background-color: #003693;
}
.whatsapp_btn:hover {
  background-color: #19a373;
  color: #fff;
}
.tentang a:hover {
  text-decoration: underline !important;
}

.gu-hide {
    display: none !important
}
.continue_btn_wrap{
    margin-top: 50px;
    text-align: center;
}
